<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.vollemoehre.mobilmoehre" android:versionCode="6" android:versionName="6" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Volle Möhre!" android:icon="@drawable/Icon"></application>
</manifest>