<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Volle Möhre! - Improvisationstheater</title>
    <link rel="shortcut icon" type="image/png" href="~/favicon.png" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/css/light.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/css/media-queries.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/css/titillium.css" media="all" />
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.easytabs.min.js"></script>
    <script type="text/javascript" src="~/js/helperFunctions.js"></script>
</head>
<body id="top">
    @RenderBody()
    <script type="text/javascript" src="~/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.easing.js"></script>
    <script type="text/javascript" src="~/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="~/js/selectnav.js"></script>
    <script type="text/javascript" src="~/js/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="~/js/custom.js"></script>
</body>
</html>